body {
    font-family: 'Droid Sans', sans-serif;
    background: #222222;
}

div.well {
    margin-top: 70px;
    -webkit-box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 46px 0px rgba(0,0,0,0.75);
}

nav {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}

a#date, a#autoscroll {
    float: right;
    margin-top: 9px;
    margin-left: 5px;
}

li {
    list-style: none;
}

li > div {
    display: inline-block;
}

li > div#nick {
    width: 150px;
    font-weight: 600;
    vertical-align: top;
}

li > div#message {
    border-left: 1px solid #999999;
    padding-left: 10px;
	word-wrap: break-word;
}

li > div#time {
    float: right;
}

@media (min-width: 768px) {
    li > div#message {
        width: 470px;
    }
}

@media (min-width: 992px) {
    li > div#message {
        width: 690px;
    }
}

@media (min-width: 1200px) {
    li > div#message {
        width: 890px;
    }
}

.container {
    min-width: 768px;
}

#datetime, #autoscroll {
    display: inline;
}

.datepicker {
    top: 48px !important;
    position: fixed;
    z-index: 1337;
}

#nick.join {
    color: green;
}

#nick.quit, #nick.kick {
    color: red;
}